<div class="row">
  <h2 class="dialog-title" mat-dialog-title>{{ 'Dialog Title' | translate:params }}</h2>
</div>

<mat-dialog-content class="dialog-content">
  <mat-form-field>
    <input matInput name="username" placeholder="{{'Username' | translate}}" (keyup.enter)="onSave(false)"
      [formControl]="usernameFormControl" required>
    <mat-error translate>FieldRequired</mat-error>
    <mat-hint translate>Please type your username</mat-hint>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions [attr.align]="'end'">
  <button mat-raised-button color="primary" mat-dialog-close (click)="onSave(false)"
    [disabled]="usernameFormControl.hasError('required')">Chat!</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="onSave(true)"
    [disabled]="usernameFormControl.hasError('required')">Run server!</button>
</mat-dialog-actions>
